.navBarTop{
    /* background-color: var(--brownie); */
    overflow: hidden;
    max-height: 44px;
   }
   .navBarTop h1{
    font-size: 5rem;
    color: var(--white);
    opacity: 0.15;
   }
   .navBarTop p{
    font-size: 0.9rem;
    font-weight: light;
    color: var(--white);
    font-family: var(--ff);
   }
   .navBarTop p i{
    font-size: 1.8rem;
   }
  
   /* second */
   nav.navbar a.navbar-brand{
    color: var(--d-blue);
    font-family: var(--ff);
    text-align: center;
    background-color: var(--white);
   }
   nav.navbar a.navbar-brand .title{
    font-size: 1.8rem;
   }
   nav.navbar a.navbar-brand .sub-title{
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 3px;
   }
   nav.navbar a.navbar-brand span{
    color: var(--d-blue);
    top: 1rem;
    right: -2.5rem;
   }
  
   /* form */
   nav.navbar form input.form-control{
    outline: none !important;
    background-color: var(--l-grey);
    
   }
   nav.navbar form input.form-control::placeholder{
    color: var(--d-grey);
   }
  
   /* bottom */
   .navBarLinks{
    background-color: var(--d-blue);
   }
  
   .navBarLinks a.nav-link{
    color: var(--white);
   } 