@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
 --d-blue: #0003a2;
 --brownie: #df8b76;
 --white: #fffefe;
 --l-grey: #f3f3f3;
 --d-grey: #aea5a1;
 --ff: "Fredoka", sans-serif;
}
